header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0rem 2rem;
    background-color: var(--color-primario);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

}

.img-logo{
    height: 4rem;

}

.nav-header{
    display: flex;
    gap: 1.5rem;
}

.nav-header a{
    font-size: 1.2rem;
    background-color: var(--color-primario2);
    color: var(--color-secundario2);
    padding: .5rem 1rem;
    border-radius: 5px;
   display: flex;
   align-items: center;
   gap: .8rem;
}
@media(max-width:768px){
    header{
  
        justify-content: left;
        gap: .2rem;
        padding: .5rem 0rem;
    }
    .nav-header{
        gap: .3rem;
    }
    .nav-header a{
        font-size: .9rem;
        padding: .3rem .6rem;
    }
    .nav-header .what{
        display: none;
    }
    .img-logo{
        height: 2.5rem;
    }
}
.nav-header a:hover{
    background-color: var(--color-secundario);
    color: var(--color-fondo);
    transform: rotate(2deg) scale(1.05);
    transition: .5s;

}
.languages{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.languages select{
    background:var(--color-primario2);
    border: none;
    color: var(--color-fondo);
    padding: .5rem 1rem ;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    color: var(--color-secundario2);
}
.languages select option{
   font-size: 1rem;
   font-weight: bold;
   color: var(--color-fondo);
   
}


.languages .flag{
   height: 2rem;
   margin-top: .4rem;
}


.languages-mob{
    display: none;
}
@media(max-width:768px){
    .languages{
       display: none;
    }
    .languages-mob{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .3rem;
        margin-top: .5rem;
    }
    .languages-mob .flag{
        height: 1.5rem;
    }
    .languages-mob div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .2rem;
        cursor: pointer;
    }
    .languages-mob p{
        font-size: .5rem;
    
        color: var(--color-fondo);
    }
    
}