header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0rem 2rem;
    background-color: var(--color-primario);
    position: fixed;
    top: 0;
width: 100%;
    z-index: 1000;

}
.img-logo{
    height: 4rem;

}
.nav-header{
    display: flex;
    gap: 1.5rem;
}
.nav-header a{
    font-size: 1.2rem;
    background-color: var(--color-primario2);
    color: var(--color-secundario2);
    padding: .5rem 1rem;
    border-radius: 5px;
   display: flex;
   align-items: center;
   gap: .8rem;
}
.nav-header a:hover{
    background-color: var(--color-secundario);
    color: var(--color-fondo);
    transform: rotate(2deg) scale(1.05);
    transition: .5s;

}
.languages{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: .5rem;
}
.languages .dropdown{
    font-size: 1.5rem;
    color: var(--color-fondo);
}
.img-flag{
    height: 3rem;
    border: 2px solid var(--color-fondo);
    border-radius: 50%;
}